/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}
button {
	background-color: white;
	border: 1px solid black;
}
button:hover {
	background-color: black;
	color: white;
}

.container {
	width: 880px;
	margin: 0 auto;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
	margin-bottom: 70px;
}

header nav {
	display: flex;
	justify-content: space-between;
	width: 608px;
	font-size: 16px;
}

header nav a {
	color: #bcbcbc;
}

header nav a:hover {
	text-decoration: underline;
}

.cta {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 76px;
}

.cta h1 {
	margin-bottom: 0px;
}

.cta .cta-text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 72px;
	text-align: center;
	line-height: 71px;
	margin-left: 127px;
}

.cta .cta-text button {
	padding: 6px 42px;
	font-size: 17px;
	margin-top: 28px;
}

.main-content hr {
	margin-bottom: 37px;
}

.main-content .top-content {
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.main-content h4 {
	font-size: 16px;
}

.main-content p {
	line-height: 18px;
}

.main-content img {
	width: 100%;
	margin-bottom: 27px;
}

.main-content .bottom-content {
	display: flex;
	justify-content: space-between;
	margin-bottom: 37px;
}

.main-content .bottom-content .text-content {
	width: 276px;
	margin-right: 20px;
}

.contact {
	margin-bottom: 39px;
	line-height: 17px;
}
.contact hr {
	margin-bottom: 32px;
}
.contact p {
	margin-bottom: 14px;
}

footer {
	text-align: center;
	font-size: 16px;
}
